<div class="btn-grid">
    <div class="grid-container">
        <a routerLink="apresentation">
            <div class="grid-item item1">ME</div>
        </a>
        <a class="grid-item item2" routerLink="skills">
            SKILLS
        </a>
        <a class="grid-item item3" routerLink="expirience">
            EXPIRIENCE
        </a>
        <a class="grid-item item4" href="">
            ?
        </a>
        <a class="grid-item item5" routerLink="">
            <img src="assets/img/icone.svg" alt="Imagem-COntrole-Grid">
        </a>
        <a class="grid-item item6" routerLink="contact">
            CONTACT
        </a>
    </div>
</div>
