/* You can add global styles to this file, and also import other style files */
html,
body {
    height: 100%;
}

html{
    overflow-x: hidden;
}

// TESTE

@keyframes rotate-out {
    to {
      opacity: 0;
    }
  }
  
  @keyframes rotate-in {
    from {
      opacity: 0;
    }
  }

    ::view-transition-old(count),
    ::view-transition-new(count) {
        animation-duration: 20000ms;
        animation-name: -ua-view-transition-fade-in, rotate-in;
    }

    ::view-transition-old(count) {
        animation-name: -ua-view-transition-fade-out, rotate-out;
    }


//   FIM DO TESTE

body {
    margin: 0;
    font-family: Roboto, "JetBrains Mono", monospace;
    background: var(--black);
}

h1 {
    font-size: 107px;
    font-weight: 300;
    color: var(--white);
    text-decoration: none;
}

h1, h2, h3, a{
    color: var(--white);
    text-decoration: none;
}

p {
    color: var(--white);
    font-size: 16px;
    margin: 10px 0;
}

p span{
    color: var(--primary-010);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    text-align: center;
}

main {
    position: relative;
    /* width: 100%; */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 150px;
    z-index: 2;

    // ANIMAÇÃO
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
