<main>
    <app-fundo/>
    <div class="container">
        <div class="text-inicio-apresentation">
            <p><span>Olá,</span><br>
               Eu sou o Otávio Magalhães <br><br>
               Sou um desenvolvedor web entusiasta da automatização e solução de problemas. No ambiente de trabalho, sou reconhecido pela minha calma e foco. <br><br>
               Este portfólio é uma amostra do meu trabalho e da minha dedicação em criar soluções web eficientes e inovadoras. Espero que aprecie o que tenho a compartilhar.
            </p>
        </div>
        <app-grip-buttons/>
    </div>
</main>
