@if (toggleAnimation$ | async){
    <div class="content" @inOutPaneAnimation>
        <h1>{{ newUrl }}</h1>

        <div class="circle-01">
            <img src="assets/img/fundation/circle01.svg" alt="Ciculo fundo 01">
        </div>
        <div class="circle-02">
            <img src="assets/img/fundation/circle02.svg" alt="Ciculo fundo 02">
        </div>
        <div class="circle-03">
            <img src="assets/img/fundation/circle03.svg" alt="Ciculo fundo 03">
        </div>
        
    </div>
}
