:host {
    .form-contact {
        width: 508px;
    }

    .form-contact form{
        width: 380px;
        display: flex;
        flex-direction: column;
    }

    // .form-contact form:placeholder{
    //     margin-left: 22px;
    // }

    .form-contact input{
        height: 50px;
        border: 2px solid var(--primary);
        background: none;
        color: var(--white);
        outline: 0;
    }

    .form-contact input[type="text"] {
        padding-left: 10px;
    }
    
    .form-contact input[type="mail"] {
        padding-left: 10px;
    }

    .form-contact textarea{
        padding-left: 10px;
        padding-top: 10px;
    }

    .form-contact input#email{
        margin-top: 5px;
    }

    .form-contact textarea{
        margin-top: 5px;
        background: none;
        border: 2px solid var(--primary);
        color: var(--white);
        outline: 0;
    }

    .form-contact .btn-send{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .form-contact .btn-send button{
        width: 190px;
        height: 40px;
        font-size: 15px;
        margin-top: 4%;
        background-color: var(--black);
        color: var(--white);
        border: 1px solid var(--white);
        cursor: pointer;
        transition: .5s;
    }

    .form-contact .btn-send button:hover{
        width: 200px;
        height: 42px;
        background-color: var(--primary-010);
        color: var(--black);
        border: 1px solid var(--primary);
    }

    .form-contact .icons {
        width: 380px;
        margin-top: 3%;
        display: flex;
        justify-content: space-around;
    }

    .form-contact .icons button{
        width: 60px;
        height: 60px;
        background: none;
        border: 2px solid var(--primary);
        border-radius: 50%;
        cursor: pointer;
        transition: .5s;
    }

    .form-contact .icons button:hover{
        background-color: var(--primary-010);
    }

    .form-contact .icons img {
        width: 60%;
    }
}