<main>
    <app-fundo/>
    <div class="container">
        <div class="form-contact">
            <form action="" method="">
                <input id="name" type="text" placeholder="Name">
                <input type="email" id="email" placeholder="Email"> 
                <textarea name="" id="message" cols="30" rows="10" placeholder="Message"></textarea>
                <div class="btn-send">
                    <button>Send</button>
                </div>
            </form>
            <div class="icons">
                <a href=""><button><img src="assets/img/icons/mail.png" alt="Email image icon"></button></a>
                <a href=""><button><img src="assets/img/icons/linkedin.png" alt="linkedin image icon"></button></a>
                <a href=""><button><img src="assets/img/icons/icons8-twitter-50.png" alt="twitter image icon"></button></a>
                <a href=""><button><img src="assets/img/icons/instagram.png" alt="instagram image icon"></button></a>
            </div>
        </div>
        <app-grip-buttons/>
    </div>
</main>
