.logo-port {
    position: absolute;
    top: -105px;
    left: -110px;
}

.logo-port img{
    padding: 0;
    width: 60%;
}

.piramide img {
    padding: 0;
    width: 50%;
}

.piramide {
    position: absolute;
    top: 562px;
    left: 80%;
}

.circle-01 {
    position: absolute;
    top: -60px;
    left: 670px;
    z-index: 0;
}

.circle-02 {
    position: absolute;
    top: -10px;
    left: 150px;
    z-index: 1;
}

.circle-03 {
    position: absolute;
    top: -60px;
    left: 1170px;
    z-index: 0;
}