
.logo-port {
    position: absolute;
    top: -105px;
    left: -110px;
}

.logo-port img{
    padding: 0;
    width: 60%;
}

.piramide img {
    padding: 0;
    width: 50%;
}

.piramide {
    position: absolute;
    top: 562px;
    left: 80%;
}
