<main>
    <app-fundo/>
    <div class="container">
        <div class="my-skills">
            <section class="skill">
                <div class="interface">
                    <div class="professional-skill">
                        <p class="heading">Soft <span>Skills</span></p>
                        <div class="radial-bars">
                            <div class="radial-bar">
                                <svg x="0px" y="0px" viewBox="0 0 200 200" style="color: white;">
                                    <circle class="progress-bar" cx="100" cy="100" r="80"></circle>
                                    <circle class="path path-1" cx="100" cy="100" r="80"></circle>
                                </svg>
                                <div class="percentage">
                                    90%
                                </div>
                                <div class="text">
                                    Creativity
                                </div>
                            </div>
                            <div class="radial-bar">
                                <svg x="0px" y="0px" viewBox="0 0 200 200" style="color: white;">
                                    <circle class="progress-bar" cx="100" cy="100" r="80"></circle>
                                    <circle class="path path-2" cx="100" cy="100" r="80"></circle>
                                </svg>
                                <div class="percentage">
                                    95%
                                </div>
                                <div class="text">
                                    Communication
                                </div>
                            </div>
                            <div class="radial-bar">
                                <svg x="0px" y="0px" viewBox="0 0 200 200" style="color: white;">
                                    <circle class="progress-bar" cx="100" cy="100" r="80"></circle>
                                    <circle class="path path-3" cx="100" cy="100" r="80"></circle>
                                </svg>
                                <div class="percentage">
                                    80%
                                </div>
                                <div class="text">
                                    Problem Solving
                                </div>
                            </div>
                            <div class="radial-bar">
                                <svg x="0px" y="0px" viewBox="0 0 200 200" style="color: white;">
                                    <circle class="progress-bar" cx="100" cy="100" r="80"></circle>
                                    <circle class="path path-4" cx="100" cy="100" r="80"></circle>
                                </svg>
                                <div class="percentage">
                                    90%
                                </div>
                                <div class="text">
                                    Team Work
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <app-grip-buttons/>
    </div>
</main>
