:host {
    .my-skills {
        width: 508px;
        height: 100vh;
    }

    .my-skills .sub-tittle {
        text-align: center;
        font-size: 60px;
        padding-top: 30px;
    }

    .my-skills .sub-tittle span {
        color: var(--primary);
    }

    section.skill {
        display: flex;
        flex-wrap: wrap;
        text-align: left;
    }

    .interface {
        width: 600px;
        height: 500px;
    }

    .heading {
        font-weight: 400;
        text-align: center;
        text-decoration: underline;
        text-underline-offset: 7px;
        margin-bottom: 20px;
        font-family: Roboto, "Jura", monospace;
        font-size: 55px;
        font-weight: 100;
    }

    .skill .interface .professional-skill {
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 50px;
    }

    // ------------------------------------------------------------------
    .radial-bars {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: flex-start;
    }

    .radial-bars .radial-bar {
        width: 50%;
        height: 170px;
        margin-bottom: 10px;
        position: relative;
    }

    .radial-bars .radial-bar svg{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-90deg);
        width: 120px;
        height: 160px;
    }

    .radial-bars .radial-bar .text {
        color: var(--primary-010);
        font-family: Roboto, "Jura", monospace;
        font-size: 20px;
        font-weight: 200;
    }

    .radial-bars .radial-bar .progress-bar {
        stroke-width: 10;
        stroke: var(--white);
        fill: transparent;
        stroke-dasharray: 502;
        stroke-dashoffset: 502;
        stroke-linecap: round;
        animation: animate-bar 1s linear forwards;
    }

    @keyframes animate-bar {
        100%{
            stroke-dashoffset: -1;
        }
    }

    .path{
        stroke-width: 10;
        stroke: var(--primary);
        fill: transparent;
        stroke-dasharray: 502;
        stroke-dashoffset: 502;
        stroke-linecap: round;
    }

    .path-1{
        animation: animate-path1 1s 1s linear forwards;
    }
    .path-2{
        animation: animate-path1 1s 1s linear forwards;
    }
    .path-3{
        animation: animate-path1 1s 1s linear forwards;
    }
    .path-4{
        animation: animate-path1 1s 1s linear forwards;
    }
    @keyframes animate-path1 {
        100%{
            stroke-dashoffset: 50;
        }
    }
    @keyframes animate-path12 {
        100%{
            stroke-dashoffset: 175;
        }
    }
    @keyframes animate-path1 {
        100%{
            stroke-dashoffset: 125;
        }
    }
    @keyframes animate-path1 {
        100%{
            stroke-dashoffset: 75;
        }
    }

    .radial-bar .percentage {
        color: var(--primary);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 17px;
        font-weight: 500;
        animation: showText 0.5s 1s linear forwards;
        // opacity: 0;
    }

    .progress-bar .text {
        width: 100%;
        position: absolute;
        text-align: center;
        left: 50%;
        bottom: -5px;
        transform: translateX(-50%);
        font-size: 17px;
        font-weight: 500;
        animation: showText 0.5s 1s linear forwards;
        opacity: 0; 
    }
}