<main>
    <app-fundo/>
    <div class="container">
        <div class="my-skills">
            <section class="skill">
                <div class="interface">
                    <div class="tech-skill">
                        <p class="heading">Hard <span>Skills</span></p>
                        <div class="technical-bars">
                            <div class="bar">
                                <i class='bx bxl-html5' style="color: white"></i>
                                <div class="info">
                                    <span>HTML</span>
                                </div>
                                <div class="progress-line html">
                                    <span></span>
                                </div>
                            </div>
                            <div class="bar">
                                <i class='bx bxl-css3' style="color: white"></i>
                                <div class="info">
                                    <span>CSS</span>
                                </div>
                                <div class="progress-line css">
                                    <span></span>
                                </div>
                            </div>
                            <div class="bar">
                                <i class='bx bxl-angular' style="color: white"></i>
                                <div class="info">
                                    <span>ANGULAR</span>
                                </div>
                                <div class="progress-line angular">
                                    <span></span>
                                </div>
                            </div>
                            <div class="bar">
                                <i class='bx bxl-typescript' style="color: white"></i>
                                <div class="info">
                                    <span>TYPESCRIPT</span>
                                </div>
                                <div class="progress-line typescript">
                                    <span></span>
                                </div>
                            </div>
                            <div class="bar">
                                <i class='bx bxl-javascript' style="color: white"></i>
                                <div class="info">
                                    <span>JAVASCRIPT</span>
                                </div>
                                <div class="progress-line javascript">
                                    <span></span>
                                </div>
                            </div>
                            <div class="bar">
                                <i class='bx bxl-php' style="color: white"></i>
                                <div class="info">
                                    <span>PHP</span>
                                </div>
                                <div class="progress-line php">
                                    <span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="professional-skill">
                        <h2 class="heading">Professional <span>Skills</span></h2>
                        <div class="radial-bars">
                            <div class="radial-bar">
                                <svg x="0px" y="0px" viewBox="0 0 200 200" style="color: white;">
                                    <circle class="progress-bar" cx="100" cy="100" r="80"></circle>
                                    <circle class="path path-1" cx="100" cy="100" r="80"></circle>
                                </svg>
                                <div class="percentage">
                                    90%
                                </div>
                                <div class="text">
                                    Creativity
                                </div>
                            </div>
                            <div class="radial-bar">
                                <svg x="0px" y="0px" viewBox="0 0 200 200" style="color: white;">
                                    <circle class="progress-bar" cx="100" cy="100" r="80"></circle>
                                    <circle class="path path-2" cx="100" cy="100" r="80"></circle>
                                </svg>
                                <div class="percentage">
                                    95%
                                </div>
                                <div class="text">
                                    Communication
                                </div>
                            </div>
                            <div class="radial-bar">
                                <svg x="0px" y="0px" viewBox="0 0 200 200" style="color: white;">
                                    <circle class="progress-bar" cx="100" cy="100" r="80"></circle>
                                    <circle class="path path-3" cx="100" cy="100" r="80"></circle>
                                </svg>
                                <div class="percentage">
                                    80%
                                </div>
                                <div class="text">
                                    Problem Solving
                                </div>
                            </div>
                            <div class="radial-bar">
                                <svg x="0px" y="0px" viewBox="0 0 200 200" style="color: white;">
                                    <circle class="progress-bar" cx="100" cy="100" r="80"></circle>
                                    <circle class="path path-4" cx="100" cy="100" r="80"></circle>
                                </svg>
                                <div class="percentage">
                                    90%
                                </div>
                                <div class="text">
                                    Team Work
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
            </section>
        </div>
        <app-grip-buttons/>
    </div>
</main>